# App
API_URI_SCHEMA=http://
API_URI_DOMAIN=localhost:3001
API_FULL_URI=http://localhost:3001

APP_URI_SCHEMA=http://
APP_URI_DOMAIN=localhost:3000
APP_FULL_URI=http://localhost:3000

# Services
SERVICE_GOOGLE_CLIENT_ID=
SERVICE_GOOGLE_CLIENT_SECRET=

SERVICE_MICROSOFT_CLIENT_ID=
SERVICE_MICROSOFT_CLIENT_SECRET=

# Database
OMNIBIRD_BACKEND_DATABASE_HOST=localhost
OMNIBIRD_BACKEND_DATABASE_USERNAME=development
OMNIBIRD_BACKEND_DATABASE_PASSWORD=development
